<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/qr-code-styling/lib/qr-code-styling.js"></script>
    <title>
        <%= it.title %>
    </title>
    <style>
        body {
            margin: 0;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            color: #ffffff;
            background-color: #fff;
            -webkit-font-smoothing: antialiased;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        ul,
        p {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }

        .wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            min-height: 100vh;
        }

        .data-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            font-size: 18px;
            text-align: center;
            padding: 0 10px;
            font-weight: 600;
        }

        .data-content-id {
            padding: 10px;
            background-color: <%= it.bg %>;
            border-radius: 30px;
            color: #fff;
            font-size: 35px;
            font-weight: 700;
            text-align: center;
            margin-bottom: 10px;
            margin-top: 10px;
            line-height: 1;
        }

        

        .data-content-title {
            color: rgb(26, 160, 66);
            line-height: 1;
        }

        .data-content-subtitle {
            color: rgb(117, 117, 117);
            margin-top: 10px;
        }

        .data-content-fortune {
            color: rgb(117, 117, 117);
            margin-top: 20px;
            font-size: 25px;
        }

        .qrcode {
            margin-top: -15px;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <div class="data-content">
            <div id="canvas" class="qrcode"></div>
            <script type="text/javascript">
                (function () {
                    const qrCode = new QRCodeStyling({
                        width: 220,
                        height: 220,
                        data: "<%= it.code %>",
                        dotsOptions: {
                            color: "#000000",
                            type: "square"
                        },
                        backgroundOptions: {
                            color: "#FFFFFF",
                        }
                    });
                    qrCode.append(document.getElementById("canvas"));
                })();
            </script>
            <div class="data-content-id">GEKON</div>
            <div class="data-content-title">Это ваш qr-код</div>
            <div class="data-content-subtitle">Поднесите устройство к считывателю терминала</div>
            <div class="data-content-fortune"> <%= it.fortune %> </div>
        </div>
    </div>
</body>

</html>