<!DOCTYPE html>
<html>

<head>
    <title>Тестовая оплата</title>

    <script type="module">
        import { h, Component, render } from 'https://unpkg.com/preact?module';
        import htm from 'https://unpkg.com/htm?module';

        const html = htm.bind(h);

        class Amount extends Component {
            state = {
                amount: 0,
                data: '',
                body: '',
                language: 'ru'
            };

            token = "<%= it.token %>";

            onInput = async (e) => {
                const { value } = e.target;
                const val = Number(value);
                const amount = val <= 5000 && val >= 0 ? val : 0;
                this.setState({ amount });

                try {
                    const r = await fetch('/pd', {
                        method: 'POST',
                        body: JSON.stringify({
                            amount,
                            token: this.token
                        })
                    });

                    const { data, signature } = await r.json();

                    this.setState({ data, signature });
                } catch (err) {
                    console.log('NO RESP ERR', err);
                }
            }

            render(_, { value }) {
                return (
                    html`<input type="number" value=${this.state.amount} onInput=${this.onInput} />
                    <p>Ваш счет будет пополнен на: ${this.state.amount}</p>
                    <p>У вас есть максимум 15 минут на оплату в LiqPay!</p>
                    ${(this.state.amount > 30 && this.state.data.length && this.state.signature.length) ? html`
                    <form method="POST" action="https://www.liqpay.ua/api/3/checkout" accept-charset="utf-8">
                        <input type="hidden" name="data" value="${this.state.data}" />
                        <input type="hidden" name="signature" value="${this.state.signature}" />
                        <input type="image" src="https://static.liqpay.ua/buttons/p1${this.state.language}.radius.png" name="btn_text" />
                    </form>` : ''}`
                );
            }
        }

        function App(props) {
            return html`<${Amount} />`;
        }

        render(html`<${App} name="World" />`, document.body);
    </script>
</head>

<body>
    <!-- GEKON.ONE -->
</body>

</html>